# Flask Config
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=c10316f0c0dcd38880f1dd5be86c352c9080886d551a067dcaea5f6825f7089c
JWT_SECRET_KEY=7f2c8d4a9e1b6f3c5d8e2a1f9b7c4d6e8f1a3b5c7d9e2f4a6b8c1d3e5f7a9b2

# Database Configuration (MySQL 8)
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/vendorbridge_db

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=mock
CLOUDINARY_API_KEY=mock
CLOUDINARY_API_SECRET=mock

# SMTP / Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=info@vendorbridge.local
SMTP_PASSWORD=dummy_smtp_password
SMTP_FROM_EMAIL=info@vendorbridge.local
